:root {
    --black: #0d0d0d;
    --blue: #3367d6;
    --blue-light: lighten(#3367d6, 20%);
    --blue-lighter: lighten(#3367d6, 5%);
    --white: #fff;
    --orange: #ffc156;
    --red: #ff5a3f;
    --lightblue: #add8e6;
    --gray: #f2f2f2;
    --gray-focus: darken(#f2f2f2, 10%);
    --placeholder: #6b6b6b;
    --note: #f9f9f9;
    --link: #065fd4;
    --link-dark: darken(#065fd4, 5%);
    --success: #28a745;
}