.linkPreview, .linkPreview:visited {
  --margin: 0.15rem;

  display: inline-block;
  margin: var(--margin);
  text-decoration: none;

  > article {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 27.5rem;
    height: 100%;
    background-color: var(--linkPreview-background);
    border-radius: 0.75rem;
    border: 1px solid var(--border);
    color: var(--text);

    > .linkPreview-previewImage-container {
      display: flex;

      > .linkPreview-previewImage {
        border-top-left-radius: 0.75rem;
        border-top-right-radius: 0.75rem;
        width: 100%;
        height: 100%;
        min-height: 5rem;
        max-height: 12rem;
        object-fit: cover;
        border-bottom: 1px solid var(--border);
      }

      &.linkPreview-previewImage-container-with-favicon {
        position: relative;
        z-index: 0;

        &::after {
          position: absolute;
          inset: 0;
          content: '';
          background-image: linear-gradient(127deg, transparent 83%, rgba(0,0,0,0.8) 100%);
          z-index: -1;
        }
      }

      > .linkPreview-favicon {
        top: 0.25rem;
        right: 0.25rem;
        position: absolute;
        width: 1.25rem;
        height: 1.25rem;
        border-radius: 50%;
      }
    }

    > .linkPreview-textContent {
      margin: 0 0.4rem;

      &.move-up {
        position: relative;
        margin-top: -1.25rem;
      }

      > .linkPreview-author-list {
        display: flex;
        padding-inline-start: 0;

        > .linkPreview-author:not(:first-of-type) {
          margin-left: -1rem;
        }
      }

      > .linkPreview-pageName {
        margin: 0.8rem 0 0 0;
        font-size: 0.65rem;
      }

      > h2 {
        font-size: 1.1rem;
        font-weight: normal;
        margin: 0 0 0.4rem 0;
        float: left;
      }

      > p {
        font-size: .75rem;
        margin-top: 0;
        color: var(--linkPreview-description);
      }

      > .linkPreview-description {
        clear: both;
      }
    }
  }
}