.linkPreview-author {
  border-radius: 50%;
  border: 1px solid var(--border);
  overflow: hidden;
  width: 2.5rem;
  height: 2.5rem;
  background-color: white;

  &:hover {
    z-index: 999999999;

    &[href] {
      opacity: .9;
    }
  }

  > img {
    background-color: inherit;
    width: inherit;
    height: inherit;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
  }
}

html.dark-theme {
  .linkPreview-author {
    background-color: black;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .linkPreview-author[href]:hover {
    transition: 200ms;
  }
}