html {
  --blue: #3367d6;
  --blue-light: #5b85de;
  --blue-lighter: #4a83ff;

  --text: #0d0d0d;
  --text-translucent: rgba(13, 13, 13, 0.2);
  --body: #fff;
  --body-alternate: #fff;
  --border: #f2f2f2;
  --placeholder: #6b6b6b;
  --switch-disabled: #f2f2f2;
  --code: #c4c4c4;
  --linkPreview-description: #4c4c4c;
  --linkPreview-background: #e9e9e9;
  --linkPreview-pageName: #4c4c4c;

  // Fixed values
  --text-light: #fff;

  --orange: #ffc156;
  --red: #ff5a3f;
  --lightblue: #add8e6;
  --gray: #f2f2f2;
  --gray-focus: #d9d9d9;
  --note: #f9f9f9;
  --link: #065fd4;
  --link-dark: #055ac9;
  --success: #28a745;

  &.dark-theme {
    --text: #fff;
    --text-translucent: rgba(255, 255, 255, 0.2);
    --body: #202124;
    --placeholder: rgba(255, 255, 255, 0.225);
    --switch-disabled: #787878;
    --code: #161616;
    --linkPreview-description: #aaaaaa;
    --linkPreview-background: #3d3e42;
    --linkPreview-pageName: #d3d3d3;

    --body-alternate: #292a2d;
    // --btn-background-hover: #47494e;
    --border: #4e4e4e;
    --link: #2997ff;
    --link-dark: #166de1;
  }
}
