.note-wrapper {
  padding: 0.35rem 0.25rem;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;

  > &.alternate {
    background-color: var(--body-alternate);
  }

  > .note-body {

  }

  > .note-footer {
    opacity: 0;

    > .note-meta {
      display: flex;
      align-items: center;
      margin-top: .2rem;
      color: darkgray;
      font-size: .75rem;
      padding-inline-start: 0;
      list-style: none;
      font-style: italic;

      > li {
        > time {
          width: fit-content;
        }

        &.separator {
          margin: 0 .25rem;
          user-select: none;
        }

        > a {
          text-decoration: none;
          color: inherit;
        }

        > .note-origin {
          display: flex;
          align-items: center;

          > img {
            width: 14px;
            height: 14px;
            object-fit: contain;
          }
        }
      }
    }
  }

  &:hover, &:focus {
    > .note-footer {
      opacity: 1;
    }

    &:hover {
      border-top-color: var(--border);
      border-bottom-color: var(--border);
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  .note-wrapper {
    transition: border-top-color, border-bottom-color 200ms;

    > .note-footer {
      transition: opacity 200ms;
    }
  }
}